{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Sign Up{% endblock title %}

{% block content %}
    <h2>Sign Up</h2>
    <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success" type="submit">Sign Up</button>
    </form>
    <div class="auth-btns">
        <a class="btn btn-github" href="{% provider_login_url 'github' %}">Sign Up via GitHub</a>
{#        <a class="btn btn-github" href="{% provider_login_url 'github' %}">Sign Up via Facebook</a>#}
{#        <a class="btn btn-github" href="{% provider_login_url 'github' %}">Sign Up via Instagram</a>#}
    </div>
{% endblock content %}