body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

h1 {
    color: red;
}


.bookcover {
    height: 300px;
    width: auto;
}

.auth-btns {
    display: flex;
}

.btn-github {
    color: rgb(255,	255, 255);
    background-color: rgb(50, 54, 61);
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 2rem;
}

.btn-github:hover {
        color: rgb(255,	255, 255);
        background-color: rgb(34, 37, 41);
}

.reset-pass-btn {
    margin-top: 2rem;
}